*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
    min-zoom: 100%;
    max-zoom: 150%;
    font-family: "Gill Sans";
    src: url("opensans.eot") format("eot"), url("opensans.woff") format("woff"), url("opensans.ttf") format("truetype");
}

img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

body{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 18px;
    background: rgb(12, 191, 236);
}

body:hover::-webkit-scrollbar-thumb{
    background-color: #e40813;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.logo{
    object-fit:cover   ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

a .name{
    line-height: 5px;
    color: #fff;
    display: inline;
    font-weight: 900;
    font-size: 3em;
    padding-top: 0%;
    display: flex;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    text-decoration: underline 8px #000;
    font-family: sans-serif;
}

.interface{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(45, 86, 253, 0.67),rgba(72, 107, 245, 0.67)),url(images/interface12.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
}

.nav-bar{
    flex: 0;
    margin-top: 30px;   
    text-align: right;
    justify-content: flex-end;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: aliceblue;
    display: fixed;
}

.intro1{
    color: aliceblue;   
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;  
    text-align: center;
}

i{
    visibility: hidden;
}

h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.visit{
    text-decoration: none;
    margin-top: 100px;
    color: aliceblue;
    display: inline-block;   
    border: 1px black solid;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 3px;
    font-size: 16px;
    font-weight: 800;
}

.visit:hover{
    border: 1px magenta solid;
    background-color: magenta;
}
a{
    display: inline;
    text-decoration: none;
    margin: 10px;
    color: rgb(0, 255, 0);
    transition-duration: 0.5s;
}
.nav-bar{
    position: absolstute;
    justify-content: space-around;
    margin-left: 2px;
}

 .nav:hover{
    color: aliceblue;
    font-weight: 900;
    position: relative;
 }



ul{
    list-style-type: none;
}

.students{
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(250px, 1fr));
    grid-gap: 1rem;
}

nav .fa{
    display: none;
}

@media (max-width:62em){
    body{
        width: 100%;
 
    }

    
    .bodyb{
        margin-left: 50px;
    }

    h1{
        font-size: 2.0em;
        font-weight: 900;
        text-align: center;
    }

    h2{
        font-size: 1.9em;
        font-weight: 800;
        text-align: center;
    }
    h3{
        font-size: 1.8em;
        text-align: center;
        font-weight: 700;
    }
    h4{
        font-size: 1.7em;
        font-weight: 600;
        text-align: center;
    }
    h5{
        font-size: 1.6em;
        text-align: center;
        font-weight: 500;
    }
    h6{
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    nav{
        display: none;
    }

    .students{
       max-width: 80%;
       height: auto;

    }
    .nav-bar{
        position :fixed;
        background: #f44336;
        text-align: left;
        height:100vh;
        width:100px;
        top: 0;
        left: 0px;
        margin: 0px 40px 0px 0px;
    }
    nav .fa{
        display: block;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .students img{
        margin-left: 0px;
        margin-right: 10px;
    }
    .programmes{
        flex-direction: column;
    }
    h1{
        font-size: 22px;
        text-align: center;
    }
    .campus{
        width: 100%;
        margin:0px ;
    }
   
    .p-campus{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    footer{
        display: block;
        align-items: center;
        margin: 0px;
        float: none;
    }
    .r-footer{
        display: absolute;
        float: none;
        margin-top: 0px;
        text-align: center;
    }
    l-footer{
        position: relative;
        margin: 0px;
    }
}


.cos-offer{
    padding-top: 100px;
    padding-bottom: 30px;
    line-height: 40px;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    
}

.programmes{
   text-align: center;
   display: inline-block;
   width: 100%;
   margin-top: 5%;
   justify-content: space-around;
   display: flex;
}
.courses{
    flex-basis: 31%;
    background-color: #97fca8;
    border-radius: 16px;
    margin-bottom: 5%;
    padding: 25px 15px;
    transition-duration: 0.5s;
}

.courses:hover{
    background-color: #09f130;
}
/*
.campus{
    text-align: center;
    width: 80%;
    margin: auto ;
    padding: top 50px;
    margin-left: 200px;
}*/

.campuses{
    flex-basis: 31%;
    place-items: center;
    align-content: center;    
    text-align: center;
}

.images{
    flex-basis: 31%;
    margin-bottom: 30px;
    margin-top: 100px;
    height: 400px;
    width: 32%;;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    margin-right: 1%;
    justify-content: space-between;
}

.images img{
    width: 100%;
}

.layout{
    background:rgba(86, 207, 112, 0.04);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}

.layout:hover{
    background:rgba(187, 17, 116, 0.4);
}

.images h3{
    color: rgb(10, 2, 0);
    text-align: center;
    transform: translateX(-50%, -50%);
    font-size: 2em;
    bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    transition: 1s;
    position: absolute; 
    opacity: 0;
}

.images:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facility{
    width: 80%;
    text-align: center;
    margin-bottom: 160px;
}


.facilities{
    width: 100%;
    position: relative;
    align-items: center;  
    margin: auto;
    padding-top: 120px;
    margin-left: 70px;
    padding-bottom: 5em;
    text-align: center;
    display:flex;
    justify-content: space-between;
}

.facilities-1{
    text-align: left;
    width: 20%;
    margin-top: 6%;
    flex-basis:20%;
}  

.facilities img{
    border-radius: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 90px;
    align-items: baseline;
}

.facilities-1 h3{
    font-size: 2.5em;
    margin: 25px;
    text-align: left;
    text-transform: capitalize;
}

.comments{
    position: relative;
    padding-bottom: 80px;
    margin: auto;
    width: 80%;
}    

.students{
    background-color: #e0d2ce;
    flex-basis: 44%;
    width: 31%;
    display: inline-block;
    text-align: left;
    margin-top: 70px;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 5%; 
    cursor: pointer;    
    justify-content: space-around;
    margin-left: 10px;

}

div h3{
    margin-top: 20px;
    text-align: center;
}

.students img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left:5px ;
    display: inline;
    float: left;
}

.contact{
    color: rgba(212, 145, 184, 0.9);
    text-align: center;
    width: 80%;
    margin: 200px auto;
    border-radius: 20px;
    height: 30em;
    position: relative;
    padding: 80px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.76),rgba(0,0,0,0.76)), url(images/background2.jpg);
    background-size: cover;
    background-position: center;
}

.contact a{
    border: 1px #fff solid;
    box-sizing: border-box;
    width: 10px;
    padding: 5px 2px;
    height: 5px;
    border-radius: 5px;
    margin-top: 100px;

}

.contact a:hover{
    background-color: #09f130;
    border-color: #97fca8;
    color: #020202;
}

.footer{
   margin: 0px;
   width: 100%;
   line-height: 2em;
   background: rgba(0,0,0,0.76);
   font-size: large;
   overflow-x: hidden;
   color: rgba(13, 14, 13, 0.8);
   font-weight: 700;
   color: #fff;

}

.l-footer label, .r-footer label{
    text-decoration: underline double rgb(134, 137, 172);
} 

.r-footer{
    align-items: right;
    position: relative;
    justify-content: space-between;
    padding-right: 30px;
    margin-left: 70%;
    right: 0em;
}

.l-footer{
    float: left;
    margin:0 100px 0px 100px;
    position: relative;
    text-align: left;
    justify-content: space-between;
}


.footter ul{
    text-align: center;
    display: inline-block;
    display: block;
    position: relative;
    padding: 200px auto;
    background: #000;
    padding: 2.5em auto;
    width: 100%;
    color: rgb(255, 255, 255);
    list-style-position: outside;
    line-height: 40px;
    font-weight: 700;
}

#email{
    text-decoration: none;
    color: aqua;
    font-size: medium;
}